89@charset "UTF-8";
/* CSS Document */

body{
	background-image: url("../img/dog4.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

html, body {height: 100%}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}

h1{
	font-family: 'Nunito', sans-serif;
	font-size: 36px;
	color: #FFFFFF;
}

h2{
	font-family: 'Nunito', sans-serif;
	font-weight:500;
	font-size: 24px;
	margin-top: 4px;
	margin-bottom: 8px;
}

h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	margin-top: 4px;
	margin-bottom: 8px;
}

ul{
	list-style: none;
}


#submit, button{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	background-color: #6184db;
	border-radius: 4px;
	border: none;
	padding: 7px;
}


#loading{
	text-align: center;
	visibility:hidden;
	position:absolute;
	top: 30%;
	left: 40%;
	z-index: 10;
	
}

#yes{
	visibility: hidden;
	height: 50px;
}

#no{
	visibility: hidden;
	height: 50px;
}

#hideNseek{
	visibility: hidden;	
}

#map {  width: 300px;
		height: 300px;
		float: left; 
		margin-top: 10px;
		margin-bottom: 10px;
		}

.topBar{ width: 100%;
		 padding: 8px;
		 background-color: #50c5b7;}

.menu{ height: 100%; 
	   width: 25%; 
       float: left; 
	   padding: 2%;
	   background-color: rgba(80,197,183,0.7);
	   color: #FFFFFF;
	   }
	   

#photoD { display: block; width: 300px; margin: 0 auto; }

#display { width: 71%; float: left;}

#animalData { width: 100%; }
			
#nameD{
		font-family: 'Nunito', sans-serif;
		font-size: 24px;
		color: #533a71;
}
		
.imageData{ width: 50%; float: left; min-width: 300px;}	

.textData{ float: left; width: 50%; min-width: 300px;}

			
#info { 
		dislay: block;
		width: 80%;
		margin: 0 auto;	
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
}
 
#contactInfo{
		display: block;
		width: 300px;
		margin: 0 auto;	
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		margin-top: 10px;
		margin-bottom: 10px;
}
 
 
#liked { display: none; 
         width: 100%; 
	     float: right;
		 font-family: 'Open Sans', sans-serif;
		 font-weight: 300;
	}
	
.col1{ width: 50%; float: left;}
.col2{ width: 50%; float: left;}

@media screen and (max-width: 600px) {
	
	 #display{ width: 100%; }

	.imageData{ width: 100%; }
	
	.menu{ width: 100%; height: auto;}
	
	 #images{ width: 100%; }
	
	.textData{ width:100%; }
	
	#photoD { width: 100%; }
	
	#map { width: 100%; }
	
	}


/* Accordian stuff */

div.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

div.accordion.active, div.accordion:hover {
    background-color: #ddd; 
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

div.panel.show {
    display: block !important;
}