/* CSS Document */

html, body {height: 100%}

body{
	background-image: url("../img/dog4.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
}


p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1{
	font-family: 'Nunito', sans-serif;
	font-size: 36px;
	color: #FFFFFF;
	padding-left: 10px;
}

h2{
	font-family: 'Nunito', sans-serif;
	font-weight:500;
	font-size: 24px;
	margin-top: 4px;
	margin-bottom: 8px;
}

h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	margin-top: 4px;
	margin-bottom: 8px;
}

h4{
	font-family: 'Nunito', sans-serif;
	color: #533a71;
	margin: 0;
	padding: 0;
	display: inline;
}

ul{
	list-style: none;
}


#submit, button{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	background-color: #6184db;
	border-radius: 4px;
	border: none;
	padding: 7px;
}


#loading{
	margin-top: 100px;
	text-align: center;
	visibility:hidden;
	position:absolute;
	width: 100%;
	z-index: 10;
	
}

#loading img{ width: 60%; max-width: 600px; margin: 0 auto;}

#yes{
	visibility: hidden;
	height: 65px;
	background-color: rgba(255,255,255,0.00)
}

#no{
	visibility: hidden;
	height: 65px;
	background-color: rgba(255,255,255,0.00)
}

#hideNseek{
	visibility: hidden;	
}

#map {  width: 300px;
		height: 300px;
		float: left; 
		margin-top: 10px;
		margin-bottom: 10px;
		}

.topBar{ width: 100%;
		 padding: 8px 0px;
		 
		 background-color: #50c5b7;}

.menu{ height: 100%; 
	   width: 25%; 
       float: left; 
	   padding: 2%;
	   background-color: rgba(80,197,183,0.7);
	   color: #FFFFFF;
	   }
	   

#photoD { display: block; width: 300px; margin: 0 auto; }

#display { width: 71%; float: left;}

#animalData { width: 100%;
				display: none; }
			
#nameD{
		font-family: 'Nunito', sans-serif;
		font-size: 24px;
		color: #533a71;
}
		
.imageData{ width: 50%; float: left; min-width: 300px;}	

.textData{ float: left; width: 50%; min-width: 300px;}

			
#info { 
		display: block;
		width: 80%;
		margin: 0 auto;	
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
}
 
#contactInfo{
		display: block;
		width: 300px;
		margin: 0 auto;	
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		margin-top: 10px;
		margin-bottom: 10px;
}
 
 
#liked { display: none; 
         width: 100%; 
	     float: right;
		 font-family: 'Open Sans', sans-serif;
		 font-weight: 300;
	}
	
	#nameDiv{
		padding-bottom: 20px;	
	}
	
	#optionDiv{
		padding-top: 30px;	
	}
	
	#distanceDiv{
		padding-bottom: 10px;	
	}
	
	#statement{
		padding-top: 30px;
    	font-size: 14px;	
		width: 100%;
	}
	
.col1{ width: 40%; float: left; font-family: 'Open Sans', sans-serif;
		 font-weight: 300;}
.col2{ width: 50%; float: left; font-family: 'Open Sans', sans-serif;
		 font-weight: 300;}

@media screen and (max-width: 600px) {
	
	 #display{ width: 100%; }

	.imageData{ width: 100%; }
	
	.menu{ width: 100%; }
	
	 #images{ width: 100%; }
	
	.textData{ width:100%; }
	
	#photoD { width: 100%; }
	
	#map { width: 100%; }
	
	.col1{ width: 100%; }
	
	.col2{ width: 100%; }
	
	}


/* Accordian stuff */

div.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

div.accordion.active, div.accordion:hover {
    background-color: #ddd; 
}

div.panel {
    padding: 0 18px;
    /* background-color: white; */
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
	margin-top: 10px;
    margin-bottom: 10px;
}

div.panel.show {
    opacity: 1;
    max-height: 1000px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

div.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

div.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordwrap{
	width: 95%	
}